@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .intro-icon{
        transform-origin: center center;
        @apply 
            mx-5
            w-10 h-10
            text-center
            items-center
            justify-center
            text-3xl hover:text-5xl 
            dark:text-white 
            cursor-pointer
            transition-all duration-200 ease-linear;
            
    }

    .tooltip{
        @apply
            w-auto p-1 my-4 m-2 min-w-max left-10
            rounded-md shadow-md
            text-gray-300 bg-gray-700
            dark:text-gray-700 dark:bg-gray-300
            text-xs font-bold scale-0
    }

}